<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>

  <h1>{{ "Office Hour Schedule" }}</h1>
  <h2>{{ "Add a new OH (POST)" }}</h2>
    <div>
      <label>ID: </label>
      <input [(ngModel)]="inputData.id" />
    </div>

    <div>
      <label>TA ID: </label>
      <input [(ngModel)]="inputData.ta_id" />
    </div>

    <div>
      <label>Location: </label>
      <input [(ngModel)]="inputData.location" />
    </div>

    <div>
      <label>Start Time: </label>
      <input [(ngModel)]="inputData.start_time" />
    </div>

    <div>
      <label>End Time: </label>
      <input [(ngModel)]="inputData.end_time" />
    </div>


    <div>
      <label>Class: </label>
      <input [(ngModel)]="inputData.course_name" />
    </div>

    <div>
      <label>Link: </label>
      <input [(ngModel)]="inputData.zoom_link" />
    </div>

  <div>
      <button (click)="postData()">Add</button>
    </div>
  <h2>{{ "Change OH details (PUT)" }}</h2>
  <div>
    <label>ID: </label>
    <input [(ngModel)]="inputData.id" />
  </div>

  <div>
    <label>TA ID: </label>
    <input [(ngModel)]="inputData.ta_id" />
  </div>

  <div>
    <label>Location: </label>
    <input [(ngModel)]="inputData.location" />
  </div>

  <div>
    <label>Start Time: </label>
    <input [(ngModel)]="inputData.start_time" />
  </div>

  <div>
    <label>End Time: </label>
    <input [(ngModel)]="inputData.end_time" />
  </div>


  <div>
    <label>Class: </label>
    <input [(ngModel)]="inputData.course_name" />
  </div>

  <div>
    <label>Link: </label>
    <input [(ngModel)]="inputData.zoom_link" />
  </div>

  <div>
    <button (click)="putData()">Add</button>
  </div>

  <h2>{{ "Remove OH by TA ID(DELETE)" }}</h2>
    <div>
      <label>ID: </label>
      <input [(ngModel)]="inputData.id" />
    </div>
  <div>
    <button (click)="deleteData()">Remove</button>
  </div>

  <h2>{{ "Available OH (GET)" }}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TA ID</th>
      <th scope="col">Class</th>
      <th scope="col">Location</th>
      <th scope="col">Zoom Link</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of data; index as i">
      <td>
        {{ p.id }}
      </td>
      <td>{{p.ta_id }}</td>
      <td>{{p.course_name }}</td>
      <td>{{ p.location }}</td>
      <td>{{ p.zoom_link }}</td>
      <td>{{ p.start_time }}</td>
      <td>{{ p.end_time }}</td>
    </tr>
    </tbody>
  </table>

</div>
