<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>

  <h1>{{ "Office Hour Schedule" }}</h1>

    <div>
      <label>Name: </label>
    </div>
    <div>
      <button (click)="postData()">Add</button>
    </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">UNI</th>
      <th scope="col">Location</th>
      <th scope="col">Class</th>
      <th scope="col">Semester</th>
      <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of data; index as i">
      <td>
        {{ p.id }}
      </td>
      <td>{{p.class }}</td>
      <td>{{ p.location }}</td>
      <td>{{ p.semester }}</td>
      <td>{{ p.zoom }}</td>
    </tr>
    </tbody>
  </table>

</div>
